<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>学生评价</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Java Script
       ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>>
    <script type="text/javascript" src="js/course/bootstrap-table.js"></script>
    <script type="text/javascript" src="js/course/bootstrap.min.js"></script>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/Appraise/base.css">
    <link rel="stylesheet" href="css/Appraise/vendor.css">
    <link rel="stylesheet" href="css/Appraise/main.css">
    <link rel="stylesheet" href="css/course/bootstrap-combined.min.css" type="text/css"></link>

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">


    <script type="text/javascript">


        function showDecode(){
            $("#kk").toggle();//如果被选元素可见，则隐藏这些元素，如果被选元素隐藏，则显示这些元素。
            if($("#divDecode").css("display")=="block"){//如果id为divDecode的元素的css样式的display=="block"

                $("#btnShowDecode").val("隐藏详情");//修改按钮的名称为隐藏详情 }else{ $("#btnShowDecode").val("显示详情");//修改按钮的名称为显示详情

            } }

        function goaddindex() {
                    window.location.href="";
        }
   //      function fixindex() {
   // //         window.location.href="classindex";
   //      }
        function showData() {
            
        }
    </script>

</head>

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a >
                        <img src="img/logo.svg" alt="Homepage">
                    </a>
                </div>

<!--                <div class="header__search">-->

<!--                    <form role="search" method="get" class="header__search-form" action="#">-->
<!--                        <label>-->
<!--                            <span class="hide-content">Search for:</span>-->
<!--                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">-->
<!--                        </label>-->
<!--                        <input type="submit" class="header__search-submit" value="Search">-->
<!--                    </form>-->

<!--                    <a href="#0" title="Close Search" class="header__search-close">Close</a>-->

<!--                </div>  &lt;!&ndash; end header__search &ndash;&gt;-->

                <!-- toggles -->
<!--                <a href="#0" class="header__search-trigger"></a>-->
<!--                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>-->

            </div> <!-- end header__top -->

<!--            <nav class="header__nav-wrap">-->
<!--                <div style="border-style:solid;border-width:1px;height:270px; width:550px;display: block;"  id="divDecode">-->
<!--                    <table width="100%" border="0" cellpadding="0"cellspacing="0">-->
<!--                        <tr style="line-height: 35px;">-->
<!--                            <td colspan="3"><span style="font-family: '微软雅黑';font-size: 15px;color: red;">VIN号：${vin}</span></td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
                <ul class="header__nav">
                    <li class="current"><a title="">查询</a></li>
                    <li class="has-children">
                        <a href="#0" title="">班级</a>
<!--                        <ul class="sub-menu">-->
<!--                        <li><a href="category.html">Lifestyle</a></li>-->
<!--                        <li><a href="category.html">Health</a></li>-->
<!--                        <li><a href="category.html">Family</a></li>-->
<!--                        <li><a href="category.html">Management</a></li>-->
<!--                        <li><a href="category.html">Travel</a></li>-->
<!--                        <li><a href="category.html">Work</a></li>-->
<!--                        </ul>-->
                    <li class="has-children">
                        <a href="" title="" onclick="javascript:showDecode()">评价</a>
                    </li>

                    <li class="has-children">
                        <a href="page-about.html" title="">学生</a>
                    </li>
<!--                    <li><a href="page-contact.html" title="">Contact</a></li>-->
                </ul> <!-- end header__nav -->

<!--                <ul class="header__social">-->
<!--                    <li class="ss-facebook">-->
<!--                        <a href="https://facebook.com/">-->
<!--                            <span class="screen-reader-text">Facebook</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="ss-twitter">-->
<!--                        <a href="#0">-->
<!--                            <span class="screen-reader-text">Twitter</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="ss-dribbble">-->
<!--                        <a href="#0">-->
<!--                            <span class="screen-reader-text">Dribbble</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="ss-pinterest">-->
<!--                        <a href="#0">-->
<!--                            <span class="screen-reader-text">Behance</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->

            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->

        <div class="s-content" id="kk">

                    <div class="grid-sizer"></div>

                    <button onclick="goaddindex()">查询</button> <!-- end article -->

                    </br>
                    </br>
                    <table id="realTime_Table"  style="table-layout:fixed;" class="table table-bordered" data-page-size="20">
                        <thead>
                        <tr>
                            <th data-sortable="true" data-field="id">课程id</th>
                            <th data-sortable="true" data-field="appraiseName">评价名称</th>
                            <th data-sortable="true" data-field="appraiseType">评价类型</th>
                            <th data-sortable="true" data-field="classid">班级ID </th>
                            <th data-sortable="true" data-field="teacherName">授课教师 </th>
                            <th data-sortable="true" data-field="courseName">上课科目</th>
                            <th data-sortable="true" data-field="score1">单项分数</th>
                            <th data-sortable="true" data-field="score2">单项分数</th>
                            <th data-sortable="true" data-field="score3">单项分数</th>
                            <th data-sortable="true" data-field="score4">单项分数</th>
                            <th data-sortable="true" data-field="score5">单项分数</th>
                            <th data-sortable="true" data-field="score6">单项分数</th>
                            <th data-sortable="true" data-field="score">汇总分数</th>

                        </tr>
                        </thead>
                            <!--<tr>
                                <th>课程id</th>
                                <th>评价名称</th>
                                <th>评价类型</th>
                                <th>班级ID</th>
                                <th>授课教师</th>
                                <th>上课科目</th>
                                <th>单项分数</th>
                                <th>单项分数</th>
                                <th>单项分数</th>
                                <th>单项分数</th>
                                <th>单项分数</th>
                                <th>单项分数</th>
                                <th>汇总分数</th>
                            </tr>-->

                    </table>
        </div> <!-- end s-content -->

            </div>
        </div>
    </div>

    <script type="text/javascript">

        $("#realTime_Table").bootstrapTable( {
            search : true,
            pagination : true,
            pageSize : 10,
            pageList : [ 5, 10, 20, 50 ],
            showColumns : true,
            showRefresh : false,
            showToggle : false  ,
            locale : "zh-CN",
            striped : true,
            onDblClickRow: function (row) {
                console.log(row);
            },
            formatNoMatches: function () {
                //没有匹配的结果
                return '没有匹配的结果';
            },
            formatLoadingMessage: function () {
                //正在加载
                return "";
            }
        });
        $(function() {
            $.ajax({
                type: "GET",
                url: "/appraise/list",//?userid=id
                dataType: "json",
                success: function (msg) {
                    // $("#realTime_Table").bootstrapTable('destroy');
                    $("#realTime_Table").bootstrapTable(
                        'load', msg.content);

                    /*$("#realTime_Table").bootstrapTable({
                        //请求地址,此处数据为本地加载
                        url: path+"/Build/searchBuilding",
                        //请求方式
                        method: "POST",
                        //请求内容类型
                        contentType: "application/x-www-form-urlencoded",
                        //数据类型
                        dataType: "json",
                        //table高度：如果没有设置，表格自动根据记录条数觉得表格高度
                        //height: '582',
                        //是否显示行间隔色
                        striped: true,
                        //是否启用排序
                        sortable: true,
                        //排序方式
                        sortOrder: "bid asc",
                        //是否使用缓存
                        cache: false,
                        //每行的唯一标识
                        uniqueId: "bid",
                        //指定工具栏
                        toolbar: "#toolbar",
                        //显示刷新按钮
                        showRefresh: true,
                        //切换显示样式
                        showToggle: true,
                        //默认显示详细视图
                        cardView: false,
                        //是否显示搜索
                        search: false,
                        //是否显示分页
                        pagination: true,
                        //是否启用点击选中行
                        clickToSelect: false,
                        //最少要显示的列数
                        minimumCountColumns: 2,
                        //显示隐藏列
                        showColumns: true,
                        //cell没有值时显示
                        undefinedText: '-',
                        //分页方式：client客户端分页，server服务端分页
                        sidePagination: "server",
                        //每页的记录行数
                        pageSize: 20,
                        //初始化加载第1页，默认第1页
                        pageNumber: 1,
                        //可供选择的每页的行数
                        pageList: "[10, 20, 50, 80, 100]",
                        paginationFirstText: "首页",
                        paginationPreText: "上一页",
                        paginationNextText: "下一页",
                        paginationLastText: "末页",
                        //按钮样式
                        buttonsClass: 'btn',
                        //分页器class
                        iconSize: 'Page',
                        //查询条件
                        queryParams: queryParams,
                        //表头
                        columns: [{
                            field: 'bid',//id
                            checkbox: true,//checkbox
                            align: 'center',//对其方式
                            valign: 'middle'//对其方式
                        }, {
                            title: '幢编号',
                            field: 'building_id',
                            align: 'center',
                            valign: 'middle',
                        }, {
                            title: '幢名称',
                            field: 'building_name',
                            align: 'center',
                            valign: 'middle'
                        },{
                            title: '操作',
                            field: 'operate',
                            align: 'center',
                            events: window.operateEvents,
                            formatter: genderOpt//如需操作行数据,直接添加formatter对应函数名参数分别为value, row, index
                        }],
                        onLoadSuccess: function (res) {//可不写
                            //加载成功时
                            console.log(res);
                        }, onLoadError: function (statusCode) {
                            return "加载失败了";
                        }, formatLoadingMessage: function () {
                            //正在加载
                            return "拼命加载中...";
                        }, formatNoMatches: function () {
                            //没有匹配的结果
                            return '无符合条件的记录';
                        }
                    });*/
                },
                error: function () {
                    alert("错误");
                }
            });
        });
    </script>
</body>