<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">

</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="btn-group">
                <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">操作</a>
                    </li>
                    <li class="disabled">
                        <a href="#">另一操作</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">其它</a>
                    </li>
                </ul>
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="userid" class="col-sm-2 control-label">账号</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="userid" name="userid" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="Password" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" id="login">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>